/* Tailwind CSS - MUI와 공존을 위한 설정 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';

.css-13ddxbb > * + * {
  margin: 0 !important;
}

input[type='number']::-webkit-inner-spin-button {
  margin-left: 5px;
}
